<aside class="sidebar">
  <div class="sidebar-logo">
    <img src="/logo.jpg" alt="Logo" />
  </div>
  <nav class="sidebar-nav">
    <a routerLink="/gestao/dashboard" routerLinkActive="active"><span class="icon">🏠</span> Dashboard</a>
    <a routerLink="/consulta" routerLinkActive="active"><span class="icon">📅</span> Consultas</a>
    <a routerLink="/utente" routerLinkActive="active"><span class="icon">👤</span> Clientes</a>
    <a routerLink="/pacientes" routerLinkActive="active"><span class="icon">🗓️</span> Agendas</a>
  </nav>
  <div class="sidebar-bottom">
    <a routerLink="/gestao/settings" class="sidebar-bottom-link"><span class="icon">⚙️</span> Settings</a>
    <a routerLink="/login" class="sidebar-bottom-link"><span class="icon">🚪</span> Log Out</a>
  </div>
</aside>


























