<div class="marcacoes-table-container">
  <div class="marcacoes-table-header">
    <div class="marcacoes-table-title">Minhas Marcações</div>
    <div class="marcacoes-table-actions">
      <input type="text" id="table-search" class="marcacoes-table-search" placeholder="Pesquisar pela consulta...">
      <div class="marcacoes-table-filter">
        <button (click)="toggleDropdown()" class="marcacoes-table-filter-btn">
          <svg class="icon" viewBox="0 0 20 20"><path d="M10 0a10 10 0 1 0 10 10A10.011 10.011 0 0 0 10 0Zm3.982 13.982a1 1 0 0 1-1.414 0l-3.274-3.274A1.012 1.012 0 0 1 9 10V6a1 1 0 0 1 2 0v3.586l2.982 2.982a1 1 0 0 1 0 1.414Z"/></svg>
          {{ triggerButtonText }}
          <svg class="icon-chevron" viewBox="0 0 10 6"><path stroke="#00548d" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/></svg>
        </button>
        @if (isDropdownOpen) {
        <div class="marcacoes-table-dropdown">
          <ul>
            @for (option of filterOptions; track option.id) {
            <li>
              <label class="marcacoes-table-dropdown-item">
                <input [id]="option.id" type="radio" [value]="option.value" name="filter-radio"
                  [(ngModel)]="selectedFilterValue" (change)="selectFilter(option)">
                {{ option.label }}
              </label>
            </li>
            }
          </ul>
        </div>
        }
      </div>
    </div>
  </div>
  <div class="marcacoes-table-wrapper">
    <table class="marcacoes-table">
      <thead>
        <tr>
          <th>Início</th>
          <th>Fim</th>
          <th>H. Solicitado</th>
          <th>Observações</th>
          <th>Actos Clínicos</th>
          <th>Estado</th>
        </tr>
      </thead>
      <tbody>
        @for (marcacao of marcacoes; track marcacao.id) {
        <tr>
          <td>{{ marcacao.dataInicioPreferida }}</td>
          <td>{{ marcacao.dataFimPreferida }}</td>
          <td>{{ marcacao.horarioPreferido }}</td>
          <td>{{ marcacao.observacoes || '—' }}</td>
          <td>
            <ul>
              @for (acto of marcacao?.actosClinicos; track acto?.id) {
              <li>{{ acto.tipo }}</li>
              }
            </ul>
          </td>
          <td>
            <span class="marcacoes-status"
              [class.status-agendado]="marcacao.estado === 'Agendado'"
              [class.status-pedido]="marcacao.estado === 'Pedido'"
              [class.status-realizado]="marcacao.estado === 'Realizado'"
            >
              {{ marcacao.estado }}
            </span>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>